#the-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
    "header header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "footer footer footer footer footer";
}

.img-background{
    background-image: url('whiteback.jpg');
    background-position: center;

}

#wrapper{
    width: 70%;
    margin: 0 auto;
}

.Title{
    margin-bottom: -50px;
}

.instructions{
    font-family: 'Grandstander', cursive;
    margin-bottom: -5px;
    margin-top: -5px;
}

.answer{

    font-family: 'Grandstander', cursive;
    margin-bottom: 15px;
}

.parent{
    position: relative;
    top: 0;
    left: 0;
}

.rick-background{
    position: relative;
    top: 100;
    left: 0;
    border: 15px solid greenyellow;

}

.rick-photo{
    position: absolute;
    top: 56%;
    left: 60%;
}
