#the-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
    "header header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "footer footer footer footer footer";
}

.img-background{
    background-image: url('whiteback.jpg')

}

.img-rick-hiding{
    background-image: url('findRick1.png')
    overflow: hidden;
}
.Title{
    margin-bottom: -50px;
}

.instructions{
    font-family: 'Grandstander', cursive;
    margin-bottom: -5px;
    margin-top: -5px;
}

.answer{

    font-family: 'Grandstander', cursive;
    margin-bottom: 15px;
}